<% include ../partials/header %>
<% include ../partials/header2 %>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12 "></div>
		<div class="col-md-4 col-sm-12 col-xs-12 ">
			<p><a href="/allocator/allocations/allocationshow/<%= allocatorinfo._id %>"><%= allocatorinfo.name %></a></p>
			<form action="/allocator/<%= allocatorinfo.id %>/pickershow" method="POST" id="positionForm">
				<div class="form-group">
					<label>Add Picker</label>
					<select class="form-control" name="picker">
						<% foundColleague.forEach(function(colleague){ %>
						<% if (colleague.isIn == true && colleague.pick == true && colleague.isAllocated == false && allocatorinfo.shift === colleague.shift) { %>
						<option  value="<%= colleague.firstName + " " + colleague.lastName %>"><%= colleague.firstName + " " + colleague.lastName %></option>
						<% } else { %>
						<p>There are no more pickers avaiable for <%= allocatorinfo.name %></p>
						<% } %>
						<% }); %>
					</select>
					<hr>
					<button class="btn btn-danger btn-block blackgold ">Add Picker</button>
				</div>
			</form>
			<table class="table-responsive">
				<thead>
					<tr><th>Pickers:</th></tr>
				</thead>
				<tbody>
					<% var checkNum = 1; %>
					<% foundColleague.forEach(function(foundColleague){ %>
					<% foundPicker.forEach(function(foundPicker){ %>
					<% if (foundPicker.author.id.equals(allocatorinfo.id) && foundPicker.colleagueId === foundColleague.id) { %>
					<% checkNum++ %>
					<tr><td><a href="/colleagues/<%= foundColleague.id %>" title=""><%= foundColleague.fullName %></a></td><td><form action="/allocator/<%= allocatorinfo.id  %>/pickershow/<%= foundPicker.id %>?_method=DELETE" method="POST"><button class="btn btn-primary btn-sm blackgold">Remove</button></form></td></tr>
					<% } %>
					<% }); %>
					<% }); %>
					<% if (checkNum < 2) { -%>
					<tr><td>No picker assigned</td></tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<!-- <div class="col-sm6 col-md-4 col-md-offset-4 col-sm-offset-3">
		</div> -->
		<div class="col-md-4 col-sm-12 col-xs-12 "></div>
	</div>
</div>
<% include ../partials/footer %>