<% include ../partials/header %> <% include ../partials/header2 %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <p>
        <a href="/allocator/allocations/allocationshow/<%= allocatorinfo._id %>"
          ><%= allocatorinfo.name %></a
        >
      </p>
      <form
        action="/allocator/<%= allocatorinfo.id %>/chill_pickshow"
        method="POST"
        id="positionForm"
      >
        <div class="form-group">
          <label>Add Recoup colleague</label>
          <select class="form-control" name="chill_pick">
            <% foundColleague.forEach(function(colleague){ %> <% if
            (colleague.isIn == true && colleague.chill_pick == true &&
            colleague.isAllocated == false && allocatorinfo.shift ===
            colleague.shift) { %>
            <option value="<%= colleague.fullName %>"
              ><%= colleague.fullName %></option
            >
            <% } else { %>
            <p>
              There are no more recoup colleagues avaiable for <%=
              allocatorinfo.name %>
            </p>
            <% } %> <% }); %>
          </select>
          <hr />
          <button class="btn btn-danger btn-block blackgold">
            Add recoup colleague
          </button>
        </div>
      </form>
      <table class="table-responsive">
        <thead>
          <tr>
            <th>Recoup:</th>
          </tr>
        </thead>
        <tbody>
          <% var checkNum = 1; %> <%# eeeeeeeee%> <%
          foundColleague.forEach(function(foundColleague){ %> <%
          foundChillPick.forEach(function(foundChillPick){ %> <% if
          (foundChillPick.author.id.equals(allocatorinfo.id) &&
          foundChillPick.colleagueId === foundColleague.id) { %> <% checkNum++
          %>
          <tr>
            <td>
              <a href="/colleagues/<%= foundColleague.id %>" title=""
                ><%= foundColleague.fullName %></a
              >
            </td>
            <td>
              <form
                action="/allocator/<%= allocatorinfo.id  %>/chill_pickshow/<%= foundColleague.id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-primary btn-sm blackgold">Remove</button>
              </form>
            </td>
          </tr>
          <% } %> <% }); %> <% }); %> <%# eeeeeeeee%> <% if (checkNum < 2) { -%>
          <tr>
            <td>Nobody is assinged to Recoup</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!-- <div class="col-sm6 col-md-4 col-md-offset-4 col-sm-offset-3">
		</div> -->
    <div class="col-md-4 col-sm-12 col-xs-12"></div>
  </div>
</div>
<% include ../partials/footer %>
