<% include ../partials/header %>
<% include ../partials/header2 %>

<hr class="style-four noprint">
<p></p>

<% if(collInNum < 2) { %>
<p></p>
<% } else { %>
<h4 id="count" ><%= attendance %>
<%= collInNum %></h4>
<% } %>
<% if(agentcollInNum < 2) { %>
<p></p>
<% } else { %>
<h4 id="count1" >Agency Colleagues In:
<%= agentcollInNum %></h4>
<% } %>
<% if(hygieneNum === 0) { %>
<p></p>
<% } else { %>
<h4 id="count2" >Hygiene Agency Colleagues In:
<%= hygieneNum %></h4>
<% } %>


</div>
<div class="container">
    <form> <!--action="/shift/nights/attended" method="POST" -->
        <div style="width: 30%; margin: 55px auto;">
            <div class="form-group">
                <button class="btn btn-danger btn-block blackgold ">No function yet</button>
                <br>
                <!-- <a class="btn btn-warning btn-block goldblack" href="/">Back</a> -->
            </div>
        </div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr><th class="noprint">Attended</th><th>User ID</th><th>Name</th><th>Start Date</th><!-- <th>Organization</th> --><th>Skills</th><!-- <th>Team</th> --><!-- <th>On Shift</th> -->
        </thead>
        <tbody>
            <% tablerow.forEach(function(tablerow){ %> <!--id 1-->
            <% if(tablerow.isIn && tablerow.isIn == true) { %>
            <tr>
                <td class="noprint">
            <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                <p><input class="check hidden" checked="checked" class="<%= tablerow.firstName + " " + tablerow.lastName %>" type="checkbox" name="colleague[attended]">
            </p>
            <% if (!tablerow.attended || tablerow.attended == false) { %>
            <p><input type="submit" class="btn btn-sm blackgold" value="Attended" title="Add colleague to Attended group."></p>
            <% } %>
            <% if (tablerow.attended && tablerow.attended == true) { %>
            <p class= "attended" title="This colleague has attended.">Attended</p>
            <% } %>
            
            </form>
        </td>
        <td>
<%= tablerow.userNumber %>
</td>
<td class="szlink">
<div id="<%= tablerow.firstName + " " + tablerow.lastName %>">
    <a href="/colleagues/<%= tablerow._id %>" title="<%= tablerow.colleagueinfo %>"><%= tablerow.firstName + " " + tablerow.lastName %></a>
</div>
</td>
<td>
<%= tablerow.startDate.toLocaleDateString() %>
</td>
 <!-- tablerow.organization -->
<td class="uppercase">
<% for(var prop in tablerow){ %>
<%if(tablerow[prop] === true && tablerow.position != "Warehouse Team Manager" && tablerow.position != "Shift Leader"){ %>
<% if (prop == "scissor_lift") { -%>
    <%prop = "CHILL PICK"%>
<% } %>
<% if (prop == "rt") { -%>
    <%prop = "COUNTER BALANCE"%>
<% } %>
<span class="smallfont"><%= prop + " | " %></span>
<%}%>
<%}%>

</td>
</tr>

<% }}); %>

</tbody>
</table>
</div>
</div>

</form>
<% include ../partials/footer %>