<% include ../partials/header %>
<% include ../partials/header2 %>
<div class="container">
    <h1 class="noprint">Colleagues in the database</h1>
</div>
<%var count = 0; %>
<p></p>
<% if(collInNum === undefined || collInNum === 0) { %>
<p></p>
<% } else { %>
<h4 id="count">Colleagues In:
    <%= collInNum %></h4>
<% } %>
<% if(agentcollInNum === 0) { %>
<p></p>
<% } else { %>
<h4 id="count1">Agency Colleagues In:
    <%= agentcollInNum %></h4>
<% } %>
<% if(hygieneNum === 0) { %>
<p></p>
<% } else { %>
<h4 id="count2">Hygiene Agency Colleagues In:
    <%= hygieneNum %></h4>
<% } %>
<% if (noMatch.length > 1) { %>
<p><%= noMatch %></p>
<% } %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
        </div>
        <div class="col-md-4 col-xs-12">
        </div>
    </div>
    <% if (typeof noSearch !=='undefined' && noSearch === true) { %>

    <%} else { %>
    <div class="row">
        <div class="col-md-4 col-xs-12">
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <form action="/colleagues" method="GET" class="">
                    <input type="text" name="search" placeholder="Colleague search..." class="form-control form-group ">
                    <input type="submit" value="Search (by Surname...)" class="btn btn-default btn-block blackgold">
                </form>
            </div>
        </div>
    </div>
    <%}%>
</div>
</div>
<div class="container">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr><th class="noprint">Off/In</th><th class="noprint">Holiday</th><th class="noprint">Abs</th><th>User ID</th><th>Name</th><th>Start Date</th><!-- <th>Organization</th> --><th>Skills</th><!-- <th>Team</th> --><!-- <th>On Shift</th> --></tr>
        </thead>
        <tbody>
            <% tablerow.forEach(function(tablerow){ %>
    <!--id 1-->
    <% if (tablerow.isIn == false) { -%>
    <tr class="off">
        <td class="noprint">
            <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                <p><input class="check hidden" checked="checked"
                        class="<%= tablerow.firstName + " " + tablerow.lastName %>" type="checkbox"
                        name="colleague[isIn]">
                </p>
                <p><input type="submit" class="btn btn-sm blackgold" value="Add IN"
                        title="Click here if you want to add this colleague to ON SHIFT group. By clicking on this button will also returns this colleague from holiday or absence in the database.">
                </p>
            </form>
        </td>
        <% } else { -%>
        <td class="noprint">
            <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                <p><input class="check hidden" class="<%= tablerow.firstName + " " + tablerow.lastName %>"
                        type="checkbox" name="colleague[isIn]">
                </p>
                <p style="margin-left:1%"><input type="submit" class="btn btn-sm blackgold" value="No Shift"
                        title="Click here if you want to add this colleague to no shift group"></p>
            </form>
        </td>
        <% } -%>
        <td class="noprint">
            <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                <p><input class="check hidden" checked="checked"
                        class="<%= tablerow.firstName + " " + tablerow.lastName %>" type="checkbox"
                        name="colleague[holiday]">
                </p>
                <% if (!tablerow.holiday || tablerow.holiday == false) { %>
                <p><input type="submit" class="btn btn-sm blackgold" value="Hol"
                        title="Add colleague to ON Holiday group."></p>
                <% } %>
                <% if (tablerow.holiday && tablerow.holiday == true) { %>
                <p class="greenback" title="This colleague is currently on holiday.">On Holiday</p>
                <% } %>
            </form>
        </td>
        <td class="noprint">
            <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                <p><input class="check hidden" checked="checked"
                        class="<%= tablerow.firstName + " " + tablerow.lastName %>" type="checkbox"
                        name="colleague[absence]">
                </p>
                <% if (!tablerow.absence || tablerow.absence == false) { %>
                <p><input type="submit" class="btn btn-sm blackgold" value="Abs"
                        title="Add this colleague to ON Absence group."></p>
                <% } %>
                <% if (tablerow.absence && tablerow.absence == true) { %>
                <p class="greenback" title="This colleague is currently on absence.">Asbence</p>
                <% } %>
            </form>
        </td>
        <td>
            <%= tablerow.userNumber %>
        </td>
        <td class="szlink">
            <div id="<%= tablerow.firstName + " " + tablerow.lastName %>">
                <a href="/colleagues/<%= tablerow._id %>"
                    title="<%= tablerow.colleagueinfo %>"><%= tablerow.firstName + " " + tablerow.lastName %></a>
            </div>
        </td>
        <td>
            <% if (!tablerow.startDate) { -%>
            Not provided
            <% } else { -%>
            <%= tablerow.startDate.toLocaleDateString() %>
            <% } -%>
        </td>
        <!-- tablerow.organization -->
        <td class="uppercase">
            <% for(var prop in tablerow){ %>
            <%if(tablerow[prop] === true && tablerow.position != "Warehouse Team Manager" && tablerow.position != "Shift Leader"){ %>
            <% if (prop == "hygiene") { -%>
            <%prop = " "%>
            <% } %>
            <% if (prop == "isIn" || prop == "holiday" || prop == "absence" || prop[0] == "$" || prop == "isAllocated") { -%>
            <%prop = " "%>
            <%}%>
     <% if (prop == "trucks") { -%>
            <%prop = "Reach Truck "%>
            <% } %>
            <% if (prop == "counterBalance") { -%>
            <%prop = "Counter Balance "%>
            <% } %>
            <% if (prop) { -%>
            <span class="smallfont"><%- prop + " * " %></span>
            <% } else { -%>

            <% } -%>
            <%}%>
    <%}%>
        </td>
        <!-- <td class="nar">
    <%= tablerow.team %>
</td>
<% if(tablerow.isIn == true) { %>
<td class="red">Yes</td>
<% } else { %>
<td class="nored">No</td>
<% } %>
-->
    </tr>
    <% }); %>
    </tbody>
    </table>
</div>
</div>
<% include ../partials/footer %>